<%- include('partials/_header.ejs') %>

    <!-- Aqui empieza el slider -->
    <section class="cd-slider">
        <ul>
            <li data-color="#f44611">
                <div class="content" style="background-image:url(/img/lana.png)">
                    <blockquote>
                        <p>I got my red dress on tonight dancing in the dark in the pale moonlight.</p>
                        <span>Summertime Sadness - Lana Del Rey</span>
                    </blockquote>
                </div>
            </li>
            <li data-color="#00aae4">
                <div class="content" style="background-image:url(/img/chiqui.png)">
                    <blockquote>
                        <p>Will you still love me When I'm no longer young and beautiful Will you still love me</p>
                        <span>Young And Beautiful - Lana Del Rey</span>
                    </blockquote>
                </div>
            </li>
            <li data-color="gray">
                <div class="content" style="background-image:url(/img/hombre.png)">
                    <blockquote>
                        <p>Blue jeans White shirt Walked into the room You know you made my eyes burn</p>
                        <span>Blue Jeans - Lana Del Rey</span>
                    </blockquote>
                </div>
            </li>
        </ul>
        <nav>
            <div>
                <a class="prev" href="#"></a>
            </div>
            <div>
                <a class="next" href="#"></a>
            </div>
        </nav>
    </section>
    <!-- Aqui termina el slider -->
    <!-- PARALAX -->
    <div class="paralax">
        <div class="lineaHorizontal"></div>
        <svg viewBox="0 0 960 300">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="80%">Temporada Navideña</text>
            </symbol>
        
            <g class = "g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
        <div class="lineaHorizontal"></div>
    </div>
    <div class="franjaTexto">
        <p>Busca los mejores atuendos para esta epoca, con los mejores precios que no encontraras en otro lugar, te ofrecemos prendas de todas las marcas reconocidas dama o caballero</p>
    </div>
    <!-- PARALAX FINAL -->
    <div class="tarjetasPrincipal">
        <div class="tarjeta">
            <!-- Nombre de prenda -->
            <img class="imagenTarjeta" src=" https://img.ltwebstatic.com/images3_pi/2021/10/08/16336623567095f406932da8e1279711e4a7e3521e_thumbnail_600x.webp" alt="imagen">
            <div class="infoTarjeta">
                <h2 class="tituloTarjeta">Pantalon beige</h2>
                <b class="descripcionTarjeta">Pantalones con parche de letra con bolsillo</b>
                <div class="pieTarjeta">
                    <button class="botonTarjeta">
                        <span class="material-icons">shopping_cart</span>
                        <a> Agregar al carrito </a>
                    </button>
                    <b>Precio: L. 300 </b>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <!-- Nombre de prenda -->
            <img class="imagenTarjeta" src=" https://img.ltwebstatic.com/images3_pi/2021/09/28/16327909895124a6192b83f9e7208a058e3f033f7b_thumbnail_600x.webp" alt="imagen">
            <div class="infoTarjeta">
                <h2 class="tituloTarjeta">Camisa Polo</h2>
                <b class="descripcionTarjeta"> Hombres Camisa polo con estampado de color combinado de letra</b>
                <div class="pieTarjeta">
                    <button class="botonTarjeta">
                        <span class="material-icons">shopping_cart</span>
                        <a> Agregar al carrito </a>
                    </button>
                    <b>Precio: L. 200 </b>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <!-- Nombre de prenda -->
            <img class="imagenTarjeta" src=" https://img.ltwebstatic.com/images3_pi/2021/08/02/16278701974cc5431b2398dc22233166e32802e353_thumbnail_600x.webp" alt="imagen">
            <div class="infoTarjeta">
                <h2 class="tituloTarjeta">Vestido largo</h2>
                <b class="descripcionTarjeta"> Vestido de manga farol con aro O delantero asimétrico bajo con fruncido</b>
                <div class="pieTarjeta">
                    <button class="botonTarjeta">
                        <span class="material-icons">shopping_cart</span>
                        <a> Agregar al carrito </a>
                    </button>
                    <b>Precio: L. 600 </b>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <!-- Nombre de prenda -->
            <img class="imagenTarjeta" src="https://img.ltwebstatic.com/images3_pi/2021/09/23/16323771287e8259098b241e4d06784efa0dac9c6c_thumbnail_600x.webp" alt="imagen">
            <div class="infoTarjeta">
                <h2 class="tituloTarjeta">Oberol</h2>
                <b class="descripcionTarjeta"> Mono de pierna ancha de espalda con tira cruzada ribete con fruncido con botón</b>
                <div class="pieTarjeta">
                    <button class="botonTarjeta">
                            <span class="material-icons">shopping_cart</span>
                            <a> Agregar al carrito </a>
                        </button>
                    <b>Precio: L. 500 </b>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/script2.js"></script>
    <script src="/scripts/slider.js"></script>
    <%- include('partials/_footer.ejs') %>