<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/parallax.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <title>The Locker</title>
</head>

<body>
    <main>
        <header>
            <h1 class="titulo">
                The Locker
            </h1>
            <nav>
                <ul class="">
                    <li><a href="/secciones/mujer.html">Mujer</a></li>
                    <li><a href="/secciones/hombre.html">Hombre</a></li>
                    <li><a href="/secciones/niños.html">Niños</a></li>
                    <li><a href="/secciones/explorar.html">Explorar</a></li>
                </ul>
            </nav>
            <nav>
                <ul class="carrito/login">
                    <li><a href="">Carrito</a></li>
                    <li><a href="">Iniciar Sesion</a></li>
                </ul>
            </nav>
        </header>
        <!-- Aqui empieza el slider -->
        <section class="cd-slider">
            <ul>
                <li data-color="#f44611">
                    <div class="content" style="background-image:url(/img/lana.png)">
                        <blockquote>
                            <p>I got my red dress on tonight dancing in the dark in the pale moonlight.</p>
                            <span>Summertime Sadness - Lana Del Rey</span>
                        </blockquote>
                    </div>
                </li>
                <li data-color="#00aae4">
                    <div class="content" style="background-image:url(/img/chiqui.png)">
                        <blockquote>
                            <p>Will you still love me When I'm no longer young and beautiful Will you still love me</p>
                            <span>Young And Beautiful - Lana Del Rey</span>
                        </blockquote>
                    </div>
                </li>
                <li data-color="gray">
                    <div class="content" style="background-image:url(/img/hombre.png)">
                        <blockquote>
                            <p>Blue jeans White shirt Walked into the room You know you made my eyes burn</p>
                            <span>Blue Jeans - Lana Del Rey</span>
                        </blockquote>
                    </div>
                </li>
            </ul>
            <nav>
                <div>
                    <a class="prev" href="#"></a>
                </div>
                <div>
                    <a class="next" href="#"></a>
                </div>
            </nav>
        </section>
        <!-- Aqui termina el slider -->
        <!-- PARALAX -->
        <div class="paralax">
            <div class="lineaHorizontal"></div>
            <svg viewBox="0 0 960 300">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="80%">Temporada Navideña</text>
            </symbol>
        
            <g class = "g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
            <div class="lineaHorizontal"></div>
        </div>
        <div class="franjaTexto">
            <p>Busca los mejores atuendos para esta epoca, con los mejores precios que no encontraras en otro lugar, te ofrecemos prendas de todas las marcas reconocidas dama o caballero</p>
        </div>
        <!-- PARALAX FINAL -->
        <div class="Prendas">
            <div class="tarjeta">
                <div>
                    <p class="texto1">SWEETER GUCCI</p>
                    <p class="texto2">POR QUE LA NAVIDAD LLEGA PRONTO</p>
                    <p class="precio">L. 199</p>
                </div>
                <div class="tarjetaImagen">
                    <img src="https://img.fcbayern.com/image/upload/q_auto,f_auto/w_800,h_1067,c_pad/eCommerce/produkte/28762/christmas-sweater.png" alt="">
                </div>
            </div>
            <div class="tarjeta">
                <div>
                    <p class="texto1">SWEETER GUCCI</p>
                    <p class="texto2">POR QUE LA NAVIDAD LLEGA PRONTO</p>
                    <p class="precio">L. 199</p>
                </div>
                <div class="tarjetaImagen">
                    <img src="https://img.fcbayern.com/image/upload/q_auto,f_auto/w_800,h_1067,c_pad/eCommerce/produkte/28762/christmas-sweater.png" alt="">
                </div>
            </div>
            <div class="tarjeta">
                <div>
                    <p class="texto1">SWEETER GUCCI</p>
                    <p class="texto2">POR QUE LA NAVIDAD LLEGA PRONTO</p>
                    <p class="precio">L. 199</p>
                </div>
                <div class="tarjetaImagen">
                    <img src="https://img.fcbayern.com/image/upload/q_auto,f_auto/w_800,h_1067,c_pad/eCommerce/produkte/28762/christmas-sweater.png" alt="">
                </div>
            </div>
            <div class="tarjeta">
                <div>
                    <p class="texto1">SWEETER GUCCI</p>
                    <p class="texto2">POR QUE LA NAVIDAD LLEGA PRONTO</p>
                    <p class="precio">L. 199</p>
                </div>
                <div class="tarjetaImagen">
                    <img src="https://img.fcbayern.com/image/upload/q_auto,f_auto/w_800,h_1067,c_pad/eCommerce/produkte/28762/christmas-sweater.png" alt="">
                </div>
            </div>
        </div>


    </main>
    <script src="/scripts/slider.js"></script>
    <footer>
        DERECHOS RESERVADOS
    </footer>
</body>

</html>