<%- include('partials/_header.ejs') %>

    <!-- Aqui empieza el slider -->
    <section class="cd-slider">
        <ul>
            <li data-color="#f44611">
                <div class="content" style="background-image:url(/img/Mujer.png)">
                    <blockquote>
                        <p>Viste a la moda para estas fiestas navideñas con nuestras prendas en The Locker.</p>
                        <span>Ingresa en nuestra área de ropa para mujer</span>
                    </blockquote>
                </div>
            </li>
            <li data-color="#00aae4">
                <div class="content" style="background-image:url(/img/chiqui.png)">
                    <blockquote>
                        <p>Porque los niños son la felicidad de nuestros hogares, consiéntelos con los mejores atuendos.</p>
                        <span>Ingresa en nuestra área de ropa para niños.</span>
                    </blockquote>
                </div>
            </li>
            <li data-color="red">
                <div class="content" style="background-image:url(/img/hombre.png)">
                    <blockquote>
                        <p>Luce más elegante con los atuendos que te ofrecemos.</p>
                        <span>Ingresa nuestra área de ropa para caballero.</span>
                    </blockquote>
                </div>
            </li>
        </ul>
        <nav>
            <div>
                <a class="prev" href="#"></a>
            </div>
            <div>
                <a class="next" href="#"></a>
            </div>
        </nav>
    </section>
    <!-- Aqui termina el slider -->
    </section>
    <!-- PARALAX -->
    <div class="paralax">
        <div class="lineaHorizontal"></div>
        <svg viewBox="0 0 960 300">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="80%">Temporada Navideña</text>
            </symbol>
        
            <g class = "g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
        <div class="lineaHorizontal"></div>
    </div>
    <div class="franjaTexto">
        <p>Busca los mejores atuendos para esta epoca, con los mejores precios que no encontraras en otro lugar, te ofrecemos prendas de todas las marcas reconocidas dama o caballero</p>
    </div>
    <!-- PARALAX FINAL -->
    <div class="tarjetasPrincipal">
        <div class="tarjeta">
            <!-- Nombre de prenda -->
            <img class="imagenTarjeta" src="https://img.ltwebstatic.com/images3_pi/2021/10/22/163486557119e20e8e9f619822e7c6132469b8572c_thumbnail_900x.webp" alt="imagen">
            <div class="infoTarjeta">
                <h2 class="tituloTarjeta">Sueter navideño</h2>
                <b class="descripcionTarjeta">Sueter navideño con estampado de venado.</b>
                <div class="pieTarjeta">
                    <button class="botonTarjeta">
                        <span class="material-icons">shopping_cart</span>
                        <p> Agregar al carrito </p>
                    </button>
                    <b>Precio: L. 250 </b>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <!-- Nombre de prenda -->
            <img class="imagenTarjeta" src="https://img.ltwebstatic.com/images3_pi/2021/08/04/1628042651559a28505120cbd62560ba2a6e7ea888_thumbnail_900x.webp" alt="imagen">
            <div class="infoTarjeta">
                <h2 class="tituloTarjeta">Conjunto navideño</h2>
                <b class="descripcionTarjeta">Conjunto de dos piezas navideñas para niña.</b>
                <div class="pieTarjeta">
                    <button class="botonTarjeta">
                        <span class="material-icons">shopping_cart</span>
                        <p> Agregar al carrito </p>
                    </button>
                    <b>Precio: L. 200 </b>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <!-- Nombre de prenda -->
            <img class="imagenTarjeta" src="https://img.ltwebstatic.com/images3_pi/2021/09/23/163237876822b145f6d46c111242f73159d7c4858c_thumbnail_900x.webp" alt="imagen">
            <div class="infoTarjeta">
                <h2 class="tituloTarjeta">Zapato de tacón</h2>
                <b class="descripcionTarjeta">Zapatillas de tacón color rojo con punta v.</b>
                <div class="pieTarjeta">
                    <button class="botonTarjeta">
                        <span class="material-icons">shopping_cart</span>
                        <p> Agregar al carrito </p>
                    </button>
                    <b>Precio: L. 600 </b>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <!-- Nombre de prenda -->
            <img class="imagenTarjeta" src="https://img.ltwebstatic.com/images3_pi/2021/10/08/16336667041397067431c78504c8e1c1c8c48b9fd7_thumbnail_900x.webp" alt="imagen">
            <div class="infoTarjeta">
                <h2 class="tituloTarjeta">Pijama navideña</h2>
                <b class="descripcionTarjeta">Conjunto de pijama color rojo de buso y sueter abierto.</b>
                <div class="pieTarjeta">
                    <button class="botonTarjeta">
                            <span class="material-icons">shopping_cart</span>
                            <p> Agregar al carrito </p>
                        </button>
                    <b>Precio: L. 500 </b>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="parallax2">
            <section>
                <h2>The Locker</h2>
                <p>Somos una tienda en linea con un recorrido amplio en moda y estilo, donde te ofrecemos variedad de ropa para toda ocasión desde el pequeño de la casa, prendas para damas y caballeros. En esta epoca navideña te ofrecemos las mejores prendas
                    del mercado, contando con los mejores precios. The Locker te ofrece una compra segura mediante nuestra sección de pedidos online dentro de nuestra pagina.</p>
            </section>
        </div>
    </div>

    <div class="tituloTalla">
        <h2>Conoce tu talla</h2>
    </div>
    <div class="tallas">
        <img src="https://www.marketingpersonal.com/images/Guiatallas/guia-de-tallas-mp-exterior-femenina.jpg" alt="tallasF">
        <img src="https://www.marketingpersonal.com/images/Guiatallas/guia-de-tallas-mp-exterior-masculino.jpg" alt="tallas">
    </div>

    <div class="tituloAutor">
        <h2>Autores The Locker</h2>
    </div>

    <div class="contenedorAvatar">
        <div class="autor">
            <div class="cardP">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
                <div class="containerP">
                    <h4><b>Manuel Romero</b></h4>
                    <p>Ing. Sistemas</p>
                    <p>Ig: @manuel_rch</p>
                </div>
            </div>

            <div class="cardP">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" style="width:100%">
                <div class="containerP">
                    <h4><b>Nicoll Herrera</b></h4>
                    <p>Ing. Sistemas</p>
                    <p>Email: nicolla@gmail.com</p>
                </div>
            </div>

            <div class="cardP">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
                <div class="containerP">
                    <h4><b>Edgardo Portillo</b></h4>
                    <p>Ing. Sistemas</p>
                    <p>Email: edgardo7@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/slider.js"></script>
    <%- include('partials/_footer.ejs') %>