<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>The Locker</title>
</head>

<body>
    <header>
        <h1 class="titulo">
            The Locker
        </h1>
    </header>

    <div class="contenedorPrincipal">
        <div class="loginIzq">
            <h2>Registrate</h2>
            <p>Ingresa tus datos y llena el siguente formulario para poder disfrutar de todos los servicios que The Locker te ofrece.</p>

        </div>

        <div class="loginDer">
            <h2>Ingrese sus Datos</h2>
            <div class="">
                <form action="/add" method="post" class="inputs">
                    <input class="cajaTexto" name="nombreCliente" type="text" placeholder="Nombre de Usuario">
                    <input class="cajaTexto" name="correoCliente" type="text" placeholder="Correo Electronico">
                    <input class="cajaTexto" name="numeroCliente" type="number" placeholder="Numero Telefonico">
                    <input class="cajaTexto" name="password" type="password" placeholder="Contraseña">
                    <!-- <input class="cajaTexto" name="password" type="password" placeholder="Confirmar Contraseña"> -->
            </div>
            <div class="contenedorBoton">
                <button type="submit" class="boton btn-registrar">Registrar</button>
            </div>
            </form>
        </div>

    </div>

    <div class="footerL">
        <footer>DERECHOS RESERVADOS</footer>
    </div>
</body>

</html>