body {
    background-image: url('/img/fondoLoginTransparente.jpg');
}

.contenedorPrincipal {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
    border-radius: 10px;
}

.loginIzq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #135876;
    color: white;
    padding: 3% 5% 3% 5%;
    border-radius: 10px 0px 0px 10px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 6px 20px;
}

h2 {
    font-weight: 900;
    font-family: 'Kaushan Script', cursive;
    text-shadow: black 3px 4px 10px;
}

.icono {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    box-shadow: rgba(255, 255, 255, 0.616) 2px 3px 10px;
    border-radius: 100px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.cajaTexto {
    border: 0px none;
    padding: 5px;
    margin-bottom: 4%;
    background-color: #EFEFF1;
    color: rgb(49, 48, 48);
    border-radius: 17px;
}

.cajaTexto:focus {
    outline: none;
}

.redesSocialesIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boton {
    border: none;
    padding: 8px;
    width: 70%;
    border-radius: 999px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
}

.btn-ingresar {
    background-color: #F44611;
    color: white;
    font-weight: bolder;
}

.btn-registrar {
    background-color: #135876;
    color: white;
    font-weight: bolder;
}

.contenedorBoton {
    display: flex;
    justify-content: center;
}

.loginDer {
    /*background: linear-gradient(to right, #F44611, #135876);*/
    background-color: #F44611;
    color: white;
    padding: 3% 5% 3% 5%;
    border-radius: 0px 10px 10px 0px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 6px 20px;
}

.footerL {
    position: absolute;
    bottom: 0px;
    width: 100%;
}