body {
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    background-color: white;
}

.titulo {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    text-shadow: #07222c 4px 5px 8px;
}

header {
    padding: 10px 15% 10px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #125975;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

header a {
    position: relative;
    display: block;
    padding: 5px;
}

header a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f44611, #fff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

header a:hover::before {
    transform: scaleX(1);
}

header[data-animation="bonus"] a::before {
    transform-origin: right;
}

header[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.Prendas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    text-shadow: #07222c 4px 5px 8px;
    color: #fff;
}

.tarjeta {
    margin: 10px;
    padding: 15px;
    width: 390px;
    height: 430px;
    background-color: rgb(236, 236, 236);
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.363) 3px 4px 10px;
}

.tarjeta img {
    width: 200px;
    height: 300px;
}

.tarjetaImagen {
    display: flex;
    justify-content: center;
}

.texto1 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.822);
}

.texto2 {
    font-size: 25px;
    font-weight: bold;
}

.precio {
    font-size: 25px;
}

.TituloIniciar {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}


/* NO TOCAR DE AQUI PA ABAJO */


/* Aqui empieza el slider */

.info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    margin: 1.5rem;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


/* Slider style */

.cd-slider {
    color: #fff;
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.cd-slider.ie9 nav div span {
    display: none;
}

.cd-slider ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: visibility 0s .6s;
}

.cd-slider ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    width: 135vh;
    height: 135vh;
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: border-width .4s .6s;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    opacity: 0;
    transform: scale(1.2);
    transition: opacity .4s .6s, transform .4s .6s;
}

.content blockquote {
    position: absolute;
    bottom: 5%;
    left: 4%;
    z-index: 2;
    max-width: 45%;
}

blockquote p {
    font-size: 4rem;
    margin-bottom: 2rem;
}

blockquote span {
    font-size: 1.4rem;
}


/* current slide
  ---------------------------------*/

.cd-slider li.current_slide {
    visibility: visible;
}

.cd-slider li.current_slide::before {
    border-width: 16rem;
}

.cd-slider li.current_slide .content {
    opacity: 30;
    transform: scale(1);
}


/* nav
  ---------------------------------*/

nav div {
    position: absolute;
    top: 50%;
    left: 4%;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    list-style: none;
}

nav div:last-of-type {
    left: auto;
    right: 4%;
}

.prev,
.next {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100%;
    transition: box-shadow .3s;
}

.prev::before,
.prev::after,
.next::before,
.next::after {
    content: '';
    position: absolute;
    left: 43%;
    background: #fff;
    width: .4rem;
    min-width: 3px;
    border-radius: 3px;
    height: 34%;
}

.prev::before {
    transform: rotate(45deg);
    top: 24%;
}

.prev::after {
    transform: rotate(-45deg);
    bottom: 24%;
}

.next::before,
.next::after {
    left: auto;
    right: 43%;
}

.next::before {
    transform: rotate(-45deg);
    top: 24%;
}

.next::after {
    transform: rotate(45deg);
    bottom: 24%;
}

.prev:hover,
.next:hover {
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}

nav>div>span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 100%;
    z-index: 5;
    pointer-events: none;
    will-change: width, height;
    transform: translate(-50%, -50%);
    transition: width .6s, height .6s;
}


/* Aqui termina el slider */


/* INICIO PARALAX */

.paralax {
    background-color: #ffffff;
    height: 150px;
}

svg {
    font: 7rem 'Montserrat';
    width: 610px;
    height: 180px;
    margin-top: -33px;
    margin-left: 25%;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 6px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #28A0C2;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #565c5c;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #28A0C2;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #B4DCE6;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #FC8241;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}


/* FINAL PARALAX */

footer {
    background-color: #125975;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    color: white;
}