body {
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    background-color: white;
}

.titulo {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    text-shadow: #07222c 4px 5px 8px;
}

header {
    padding: 10px 15% 10px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #125975;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

header a {
    position: relative;
    display: block;
    padding: 5px;
}

header a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f44611, #fff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

header a:hover::before {
    transform: scaleX(1);
}

header[data-animation="bonus"] a::before {
    transform-origin: right;
}

header[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.Prendas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    text-shadow: #07222c 4px 5px 8px;
    color: #fff;
}

.contenedorTarjetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2% 10% 10% 5%;
    background-image: url('/img/FondoLoginTransparente.jpg');
}

.tarjeta {
    width: 300px;
    height: 390px;
    margin: 10px 40px 40px 10px;
    box-shadow: rgba(0, 0, 0, 0.712) 3px 4px 10px;
}

.imagenTarjeta {
    width: 100%;
    height: 100%;
}

.infoTarjeta {
    padding: 7%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.712) 3px 4px 10px;
}

.pieTarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4%;
    align-items: center;
}

.descripcionTarjeta {
    color: rgb(97, 97, 97);
}

.botonTarjeta {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f44611;
    padding: 8px;
    border-radius: 17px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.712) 3px 4px 10px;
}


/* .tarjeta {
    margin: 10px;
    padding: 15px;
    width: 390px;
    height: 430px;
    background-color: rgb(236, 236, 236);
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.363) 3px 4px 10px;
}

.tarjeta img {
    width: 200px;
    height: 300px;
}

.tarjetaImagen {
    display: flex;
    justify-content: center;
} */

.texto1 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.822);
}

.texto2 {
    font-size: 25px;
    font-weight: bold;
}

.precio {
    font-size: 25px;
}

.TituloIniciar {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

footer {
    background-color: #125975;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.lineaHorizontal {
    border-top: 3px solid #fff;
    margin-top: 130px;
    width: 20%;
    padding: 1px;
    box-shadow: #000 2px 3px 10px;
    height: 1px;
}

.franjaTexto {
    text-align: center;
    background-color: #125975;
    color: #fff;
    padding: 20px 40px 100px 40px;
    font-size: 40px;
}