<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/parallax.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/slideBar.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="shortcut icon" href="/img/logoBlanco.png">
    <title>The Locker</title>
</head>

<body>
    <main>
        <header>
            <h1 class="titulo">
                <img src="/img/logoBlanco.png" alt="">
                <a href="/principal">The Locker</a>
            </h1>
            <nav>
                <ul class="">
                    <li><a href="/ropaMujer">Mujer</a></li>
                    <li><a href="/ropaHombre">Hombre</a></li>
                    <li><a href="/ropaInfantil">Niños</a></li>
                    <li><a href="/explorar">Explorar</a></li>
                </ul>
            </nav>
            <nav class="">
                <ul class="carrito/login">
                    <li><a href="/carrito">Carrito</a></li>
                    <li><a href="" id="NombreUsuario"> Bienvenido <%= localStorage.getItem('nombreCliente') %>  </a></li>
                    <li class="">
                        <a href="/" id="Cerrar Sesion" class="loginHeader"> <span class="material-icons">logout</span>Cerrar Sesion </a>
                    </li>
                </ul>
            </nav>
        </header>