<!-- Empieza el Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Ups! Parece que ha ocurrido un problema.</h2>
        </div>
        <div class="modal-body">
            <h3>Informacion del error.</h3>
            <h3 id="mensaje"></h3>
        </div>
        <div class="modal-footer">
            <h3>Rellena el formulario de manera correcta</h3>
        </div>
    </div>

</div>
<script src="/scripts/scriptValidar.js"></script>